/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
html { font-size: 64.5%; }

.btn {
    font: 100 1.4rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px 0;
    width: 100%;
    background-color: #093579;
    background: -webkit-linear-gradient( bottom, #093579, #035f9a );
    background: -moz-linear-gradient( bottom, #093579, #035f9a );
    background: -o-linear-gradient( bottom, #093579, #035f9a );
    background: -ms-linear-gradient( bottom, #093579, #035f9a );
    background: linear-gradient( to top, #093579, #035f9a );
    box-shadow: 0 0 3px 0 rgba( 80, 80, 80, 0.8 ) inset;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #035f9a;
    outline: none;
}
.btn:hover,
.btn:focus {
    background: -webkit-linear-gradient( bottom, #0d3d88, #0772b5 );
    background: -moz-linear-gradient( bottom, #0d3d88, #0772b5 );
    background: -o-linear-gradient( bottom, #0d3d88, #0772b5 );
    background: -ms-linear-gradient( bottom, #0d3d88, #0772b5 );
    background: linear-gradient( to top, #0d3d88, #0772b5 );
    border: 1px solid #093579;
    box-shadow: 0 0 4px 0 rgba( 90, 90, 90, 0.8 ) inset;
}


input[type=text] {
	width: 98%;
	font: 100 1.6rem "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 2px;
	text-indent: 10px;
	margin-bottom: 30px;
	border-radius: 4px;
	color: #909090;
	font-style: italic;
	outline: none;
	border: 1px solid #ccc;
}

/* 	-------------------------------------
	LAYOUT
   	-------------------------------------  */

body {
	font-family: Arial;
}

header {
	position: relative;
	padding: 20px 10% 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #909090;
	box-shadow: 0 2px 4px 0 rgba( 200, 200, 200, 0.8 );
	background-color: #343434;
}
	header h1 {
		font: 100 10rem "Helvetica Neue", Helvetica, Arial, sans-serif;	
		line-height: 6rem;	
		color: #0772b5;
		opacity: 0.8;	
	}
	header h2 { 
		font: 100 3rem "Helvetica Neue", Helvetica, Arial, sans-serif;
		position: relative;
		top: -3.4rem;
		left: 4rem;
		color: #fff;
	}


section {
	margin: 0 auto;
	width: 90%;
	position: relative;
	height: 510px;
}
footer {
	font-size: 1.2rem;
	color: #676767;
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	font-family: courier;
	border-top: 1px solid #ccc;
}
/* 	-------------------------------------
	TEMPLATES
   	-------------------------------------  */
/* login */
.content {
	padding-top: 40px;
	position: relative;
}
	.content .sorry {
		font-size: 1.4rem;
		position: absolute;
		top: 10px; left: 0;
		color: #fa9a10;
	}

h3 {
	font-size: 2rem;
	color: #0d3d88;
	padding-bottom: 4rem;
	text-align: center;
}

p {
	padding-bottom: 2rem;
	color: #909090;
	font: 100 1.6rem "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

/* waiting */
.square {
	float: left;
	width: 10px;
	height: 10px;
	background-color: #464646;
	border: 1px solid #ccc;
	margin: 20px 6.4%;
	opacity: 0;
}

/* players */
.player {
	width: 48%;
	margin: 0 1% 40px;
	float: left;
	border-bottom: 10px solid #ccc;
	position: relative;
	overflow: hidden;
	background-color: rgba( 50, 50, 50, 0.9 );
	border-radius: 4px;
}

	.player.active { 
		color: #0d3d88; 
		background-color: rgba( 50, 50, 50, 1 );
	}
	.player.active.cross { border-bottom: 10px solid #EE0000;  }
	.player.active.circle { border-bottom: 10px solid #006700;  }

.player h3 { 
	text-align: left; 
	position: absolute; 
	padding: 0;
	top: 12%; 
	left: 12px;
	color: #ffffff;
	font: 100 2rem "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.player canvas {
	border: none;
	float: right;
}

.player p {
	position: absolute;
	bottom: 20%;
	left: 12px;
	padding-bottom: 0;
    font: 400 1.4rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #efefef;
    text-index: 1rem;
}

/* playground */
#mask {
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

#playground {
	position: relative;
}

canvas {
	border : 1px solid #aaa;
	float: left;
	border-collapse: collapse;
	margin-left: -1px;
	margin-top: -1px;
}

/* dialog */
.dialog {
	position: absolute;
	top: 200px;
	left: 15%;
	width: 70%;
	border: 1px solid #202020;
	border-radius: 4px;
	background-color: rgba( 45, 45, 45, 0.94 );
	box-shadow: 0 0 3px 1px rgba( 120, 120, 120, 0.6 );
	padding: 6px;
}
	.dialog canvas {
		border: none;
		float: left;
		position: absolute;
		top: 0;
		padding-left: 4%;
	}
	.dialog p {
		line-height: 5.8rem;
		text-indent: 3rem;
		font-size: 2rem;	
		color: #fff;
		text-align: center;
		padding-bottom: 0;
	}
	.dialog p.center {
		text-indent: 0;
	}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
